.red, .blue, .green, .purple, .pink{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
}
.spinnercontainer{
  width: 400px;
  height: 75px;
  border: 1px solid black;

}
.changered{
  background-color: red;
}
.changeblue{
  background-color: blue;
}
.changegreen{
  background-color: green;
}
.changepurple{
  background-color: purple;
}
.changepink{
  background-color: pink;
}
